div{
    width: 350px;
    height: 160px;
    color: #777777;
}
.h4-color {
    width:1280px ;
    height: 26px; 
    color: #001AFF;
    margin-top: 30px;
    margin-left: 270px;
}
.p2-color{
    width: ;
    height: ;
    color: red;
    margin-left:40px;
}